.App {
  text-align: center;
}


li{
list-style-type: number;
margin-right: 40px;
}

h1{
  display:block;
  margin: 20px 500px;
  font-size: 3em;
}

button{
  width: 100px;
height: 30px;
font-size: 1em;
margin: 10px 30px;
border-style: none;
border-radius: 15px;
cursor: pointer;
}